/* Sessão 01 -> Introdução com React Typed */
.sectionIntroducao {
  background-image: url(../../../assets/codeHome.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.sectionIntroducao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.sectionIntroducao h1,
.sectionIntroducao .animatedTextContainer {
  z-index: 1;
}

.introTitulo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.animatedTextContainer {
  font-size: 40px;
}

/* Botão "Mais Informações" */
.buttonIntroducao button {
  background-color: var(--corBotao);
  color: var(--corParagrafo);
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 35px;
}

.buttonIntroducao button:hover {
  background-color: var(--hoverBotao);
  transform: translateY(-3px);
}

.buttonIntroducao button:active {
  transform: translateY(0);
}

/* ======================================  Sesssão 02 -> Chamar atenção do Usuario */
.sectionEngajamento {
  border-top: 2px solid var(--corTrasicaoBorda);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem; /* Espaço entre o texto e o vídeo */
  background-image: linear-gradient(180deg, #3c3c3c 0%, #000000 22%);
}

.engajamentoConteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; /* Espaço entre o texto e o vídeo */
}

.engajamentoTexto {
  flex: 1;
  max-width: 1200px;
}

.engajamentoTexto h2 {
  font-size: 40px;
  margin-bottom: 1rem;
  color: var(--corTitulo);
}

.engajamentoTexto p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--corParagrafo);
  text-align: justify;
}

.engajamentoTexto ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.engajamentoVideo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerVideo {
  max-width: 100%;
  max-height: 800px;
  border-radius: 10px;
}

/* =============------------------------------------------------------------- Section 03  */
.sectionPratica {
  border-top: 2px solid var( --corTrasicaoBorda);
  padding: 70px 20px;
  background: var(--fundoPreto);
  text-align: center;
  line-height: 1.6;
}

.sectionPratica h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--corTitulo); 

}

.sectionPratica p {
  font-size: 1.25rem;
  color: var(--corParagrafo); 
  margin-bottom: 3rem;
}

/* Estilo do contêiner de cartões */
.cardsContainer {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: clamp(20px, 5vw, 40px);
  justify-items: center;
}

/* Estilos individuais para os cartões */
.card {
  background: linear-gradient(135deg, #119fe3, #b9fbc0);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    box-shadow 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.card:hover {
  transform: translateY(-10px) scale(1.02); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

/* Estilo do ícone nos cartões */
.icon {
  font-size: 50px;
}

/* Títulos dentro dos cartões */
.card h4 {
  font-size: 21px;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

/* Parágrafos dentro dos cartões */
.card p {
  font-size: 18px;
  color: #393939;
  margin-top: 5px;
  text-align: center;
}

/* Adicionar animação no hover */
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.card:hover {
  animation: wiggle 0.3s ease-out;
}

/* ======================================  Voltar para o Top */

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrollToTopButton:hover {
  background-color: #0056b3;
}

.scrollToTopButton:active {
  transform: scale(0.9);
}
