/* =================================================== Sessão 01 -> Introdução com React Typed */
.sectionIntroducao {
  background-image: url(../../../assets/codeHome.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.sectionIntroducao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.3125rem);
  z-index: 0;
}

.sectionIntroducao h1,
.sectionIntroducao .animatedTextContainer {
  z-index: 1;
}

.introTitulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.animatedTextContainer {
  font-size: 2.5rem;
}

/* Botão "Mais Informações" */
.buttonIntroducao button {
  background-color: var(--corBotao);
  color: var(--corParagrafo);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.9375rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2.1875rem;
}

.buttonIntroducao button:hover {
  background-color: var(--hoverBotao);
  transform: translateY(-0.1875rem);
}

.buttonIntroducao button:active {
  transform: translateY(0);
}

/* ====================================================  Sesssão 02 -> Chamar atenção do Usuario */
.sectionEngajamento {
  border-top: 0.125rem solid var(--corTrasicaoBorda);
  display: flex;
  justify-content: center;
  padding: 6.25rem;
  background-image: linear-gradient(180deg, #3c3c3c 0%, var(--fundoPreto) 22%);
}

.engajamentoConteudo {
  width: 87.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.engajamentoTexto {
  flex: 1;
  max-width: 75rem;
}

.engajamentoTexto h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: var(--corTitulo);
}

.engajamentoTexto p {
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--corParagrafo);
  text-align: justify;
}

.engajamentoTexto ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.engajamentoVideo {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.bannerVideo {
  max-width: 100%;
  max-height: 50rem;
  border-radius: 0.625rem;
}

@media (max-width: 1024px) {
  .engajamentoConteudo {
    flex-direction: column;
    align-items: center;
  }

  .engajamentoTexto {
    max-width: 90%;
    text-align: center;
  }

  .engajamentoTexto h2 {
    font-size: 1.75rem;
  }

  .engajamentoTexto p {
    font-size: 0.875rem;
  }

  .engajamentoVideo {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .engajamentoTexto h2 {
    font-size: 1.5rem;
  }

  .engajamentoTexto p {
    font-size: 0.75rem;
  }

  .bannerVideo {
    max-height: 18.75rem;
  }
}

@media (max-width: 480px) {
  .engajamentoTexto h2 {
    font-size: 1.25rem;
  }

  .engajamentoTexto p {
    font-size: 0.625rem;
  }

  .bannerVideo {
    max-height: 12.5rem;
  }
}

/*  ========================================================================= Section 03  */
.sectionPratica {
  border-top: 0.125rem solid var(--corTrasicaoBorda);
  padding: 4.375rem 1.25rem;
  background: var(--fundoPreto);
  text-align: center;
  line-height: 1.6;
}

.sectionPratica h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--corTitulo);
}

.sectionPratica p {
  font-size: 1.25rem;
  color: var(--corParagrafo);
  margin-bottom: 3.125rem;
}

.cardsContainer {
  width: 100%;
  max-width: 68.75rem;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: clamp(1.25rem, 5vw, 2.5rem);
  justify-items: center;
}

.card {
  background: linear-gradient(135deg, #119fe3, #b9fbc0);
  border-radius: 0.625rem;
  padding: 1.25rem;
  width: 100%;
  max-width: 31.25rem;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    box-shadow 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.card:hover {
  transform: translateY(-0.625rem) scale(1.02);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 3.125rem;
}

.card h4 {
  font-size: 1.3125rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.9375rem;
}

.card p {
  font-size: 1.125rem;
  color: #393939;
  margin-top: 0.3125rem;
  text-align: center;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.card:hover {
  animation: wiggle 0.3s ease-out;
}

/* ==========================================================================  FAQ*/
.sectionFAQ {
  border-top: 0.125rem solid var(--corTrasicaoBorda);
  background-color: #121212;
  padding: 50px 20px;
  color: #fff;
}

.sectionFAQ h2 {
  font-size: 40px;
  text-align: center;
  color: var(--corParagrafo);
  margin-bottom: 50px;
}

.faqContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.faqItem {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.faqItem.active {
  background-color: #292929;
  transform: scale(1.02);
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: var(--corTitulo);
  border-bottom: 1px solid #444;
  transition: color 0.3s ease;
}

.faqQuestion:hover {
  color: var(--corBotao);
}

.faqAnswer {
  padding: 15px 20px;
  font-size: 18px;
  color: var(--corParagrafo);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faqItem.active .faqAnswer {
  max-height: 500px;
  padding: 15px 20px;
}

.faqItem .faqAnswer {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.faqItem.active .faqAnswer {
  opacity: 1;
}

/* ============================================================================  Voltar para o Top */

.scrollToTopButton {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: var(--corBotao);
  color: white;
  border: none;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.5625rem;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrollToTopButton:hover {
  background-color: var(--hoverBotao);
}

.scrollToTopButton:active {
  transform: scale(0.9);
}
